{% extends "main.html" %}

{% block content %}
<h1>Add a new category</h1>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" class="form-control col-lg-4" id="name" maxlength="50">
    </div>
    <div class="form-group">
        <label for="fileplaceholder">Picture:</label>
        <input type="file" name="picture" class="form-control" id="fileplaceholder">
    </div>
    <input type="submit" value="Create">
    <a href="{{url_for('catalog')}}">Go back</a>
</form>
{% endblock %}
