<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit category</title>
</head>
<body>
<h1>Edit category {{category_name}}</h1>
<form method="post" enctype="multipart/form-data">
    <dl>
        <dt>Name:</dt>
            <dd>
                <input type="text" name="name" size="30" placeholder="{{category.name}}">
            </dd>
        <dt>Picture:</dt>
            <dd>
                <input type="file" name="picture" class="custom-file-input" id="fileupload">
                <label for="fileupload">{{category.picture}}</label>
            </dd>
    </dl>
    <input type="submit" value="edit">
    <a href="{{url_for('catalog')}}">Go back</a>
</form>
</body>
</html>