{% extends 'main.html' %}
{% block content %}
<body>
<h1 class="text-center">{{category.name}}</h1>
<div class="flex-container">
    <div class="row list-group">
        {% for i in items %}
        <div class=" item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img src="https://placehold.it/400*250/000/fff" class="group" alt="image">
                <div class="caption">
                    <h4 class="group inner">{{i.name}}</h4>
                    <p class="group inner">{{i.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>


</body>
{% endblock %}