<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
    <title>Main</title>
</head>
<body>
<div class="jumbotron">
<div class="container text-center">
    <h1>Leena's Jewelry Shoppe</h1>
    <p>Fine handcrafted jewelry</p>
</div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Leena's</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{url_for('catalog')}}">Home</a></li>
      <li><a href="{{url_for('items',categories_name='Necklaces')}}">Necklaces</a></li>
      <li><a href="{{url_for('items',categories_name='Bracelets')}}">Bracelets</a></li>
      <li><a href="{{url_for('items',categories_name='Earrings')}}">Earrings</a></li>
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>